{% trans_default_domain 'FOSUserBundle' %}

 <!-- Add New -->
<div class="push"></div>
    <div class="container white">
        <div class="row">
            <div class="container white percent100">
                <div class="col-lg-12">
                    <div class="padder-t2">
                        <h1>Sign in</h1>
                        <div class="horiz-divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container white percent100">
                <div class="col-lg-12">
                    <div class="padder-t2 text-center">
                        {% if error %}
                            <div class="padder-t2 padder-b2 col-10 col-sm-8 col-md-6 col-lg-4 offset-lg-4 offset-md-3 offset-sm-2 offset-1 error">{{ error.message|trans({},'messages') }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row padder-t padder-b">
            <div class="container white">
                <div class="col-lg-12">
                    <!-- Form -->
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" id="contact_form">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <fieldset>
                            <!-- Text input Email -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <label class="control-label pull-right" for="username"><h4>{{ 'Email'|trans }}</h4></label>
                                    </div>
                                    <div class="col-md-4 col-lg-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <!-- twig: WIDGET -->
                                            <input name="_username" placeholder="E-Mail Address" value="{{ last_username }}" class="form-control"  type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <label class="control-label pull-right" for="password" ><h4>{{ 'Password'|trans }}</h4></label>
                                    </div>
                                    <div class="col-md-4 col-lg-4 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                                            <input class="form-control" name="_password" type="password" placeholder="••••••••" id="password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row padder-b2">
                                <div class="col-md-4 col-lg-4"></div>
                                <div class="col-md-4 col-lg-4 inputGroupContainer">

                                </div>
                            </div>


                            <!-- Button -->
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-4 col-lg-4 control-label"></label>
                                    <div class="col-md-4 col-lg-4">
                                        <button type="submit" class="btn btn-danger raised" value="{{ 'security.login.submit'|trans }}">Connect <i class="fa fa-sign-in"></i></button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="col-md-4 col-lg-4 offset-0 offset-lg-4 offset-md-4 horiz-divider  padder-t2"></div>
                    <p class="col-md-4 col-lg-4 offset-0 offset-lg-4 offset-md-4 padder-t2">Forgot password ? <a href="{{ path('fos_user_resetting_request') }}">Reset</a></p>
                    <p class="col-md-4 col-lg-4 offset-0 offset-lg-4 offset-md-4">Don't have an account ? <a href="{{ path('fos_user_registration_register') }}">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>

